@model diplom.Models.Share

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Share</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Figi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Figi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IpoDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IpoDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssuePlanSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssuePlanSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShareType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShareType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
