@model IEnumerable<diplom.Models.Share>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Figi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IpoDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssuePlanSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShareType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Figi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ticker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IpoDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuePlanSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShareType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
