@model diplom.Models.WorldNews

@{
    ViewData["Title"] = "Details";
}
<div class="card-body">
    <h3 class="mt-30">@Html.DisplayFor(model => model.Title)</h3>
    <hr>
    <p class="mt-20 h5">@Html.DisplayFor(model => model.Text)</p>
    <small class="float-right text-muted">@Html.DisplayFor(model => model.DateTime)</small>
    <h4 class="mt-30">Влияние на котировки</h4>
    <hr>
    <div class="row">
        <div class="col-md-12 mb-4 pl-0 pr-0">
            <div class="owl-container">
                <div id="impact-container" class="owl-carousel basic">
                    @foreach(var impact in ViewBag.ImpactCompanies)
                    {
                        <div class="card sos-st-card twitter" style="width:400px;">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="mb-0"><i class="fab fa-twitter"></i><small>@impact.Company.Shares[0].Name</small></h3>
                                    </div>
                                    <div class="col-auto">
                                        @if (@impact.Influence < 0)
                                        {
                                            <h5 class="mb-0 text-red">@(Math.Round(impact.Influence, 2))%</h5>
                                        }
                                        else
                                        {
                                            <h5 class="mb-0 text-green">@(Math.Round(impact.Influence, 2))%</h5>
                                        }
                                        @*<h5 class="mb-0"><small>+123.12</small></h5>*@
                                    </div>
                                    @if (@impact.Influence < 0)
                                    {
                                        <div class="col-auto"><i class="fas fa-arrow-down text-red"></i></div>
                                    }
                                    else
                                    {
                                        <div class="col-auto"><i class="fas fa-arrow-up text-green"></i></div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="slider-nav text-center">
                    <a href="#" class="left-arrow owl-prev">
                        <i class="ik ik-chevron-left"></i>
                    </a>
                    <div class="slider-dot-container"></div>
                    <a href="#" class="right-arrow owl-next">
                        <i class="ik ik-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {        
        $('.owl-carousel').owlCarousel({
            margin:10,
            autoWidth:true,
            items:6
        })
    });
</script>
