@model diplom.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnterpriseValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnterpriseValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForwardPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForwardPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfitMargins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfitMargins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FloatShares)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FloatShares)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullTimeEmployees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullTimeEmployees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SharesOutstanding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SharesOutstanding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SharesShort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SharesShort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SharesShortPriorMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SharesShortPriorMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortRatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortRatio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortPercentOfFloat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortPercentOfFloat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookValuePerShare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookValuePerShare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceToBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceToBook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetIncomeToCommon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetIncomeToCommon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrailingEps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrailingEps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnterpriseToRevenue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnterpriseToRevenue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnterpriseToEbitda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnterpriseToEbitda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Week52Change)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Week52Change)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SandP52WeekChange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SandP52WeekChange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCashPerShare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCashPerShare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ebitda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ebitda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDebt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalDebt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentRatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentRatio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Revenue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Revenue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebtToEquity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebtToEquity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevenuePerShare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevenuePerShare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnOnAssets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnOnAssets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnOnEquity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnOnEquity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossProfits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossProfits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FreeCashflow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FreeCashflow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatingCashflow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatingCashflow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevenueGrowth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevenueGrowth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatingMargins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatingMargins)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
