<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="">Начните вводить название акции</label>
            <select class="form-control select2" multiple="multiple">
                @foreach(var share in ViewBag.Shares)
                {
                    if (@share.Id == 5)
                    {
                        <option value="@share.Id" selected>@share.Name (@share.Ticker)</option>
                    }
                    else
                    {
                        <option value="@share.Id">@share.Name (@share.Ticker)</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="col-md-12 col-xl-8">
        <div class="card sale-card">
            <div class="card-block">
                <div id="chart_div" style="height:300px; margin-bottom: 20px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-4">
        <div class="card">
            <div class="card-header">
                <h3>Список новостей</h3>
            </div>
            <div id="news_container" class="card-body scrollable feeds-widget" style="height:300px"></div>
        </div>
    </div>
</div>
<div class="col-md-12 col-xl-12">
    <div class="card sale-card">
        <div class="card-header">
            <h3>Анализ экономического сектора</h3>
        </div>
        <div class="card-block">
            <div id="deal-analytic-chart" class="chart-shadow" style="height:600px"></div>
        </div>
    </div>
</div>
<div class="col-md-12 col-xl-6">
    <div class="card sale-card">
        <div class="card-header">
            <h3>Состав фондового рынка</h3>
        </div>
        <div class="card-block">
            <div id="pay-analytic-chart" class="chart-shadow" style="height:600px"></div>
        </div>
    </div>
</div>

<script src="/js/select_2.js"></script>
<script src="/node_modules/select2/dist/js/select2.min.js"></script>